<h2>
	<b>| {{companyInfo.c_name}}</b> 업체 정보 확인
	<span class="badge badge-success" (click)="onClickSubmit()">+ 업체 서비스 추가 등록</span>
</h2>
<br>
<form #detailCompany="ngForm" (ngSubmit)="modify(detailCompany.value)">
	<div class="content-area">
		<div class="sub-item">
			<div class="item-h">업체명</div>
			<div class="item-h">사업자번호</div>
			<div class="item-h">서비스분류</div>
			<div class="item-h">구매채널</div>
			<div class="item-h">제휴기간</div>
			<div class="item-h">대표자명</div>
			<div class="item-h">연락처</div>
			<div class="item-h">주소지</div>
			<div class="item-h">담당자</div>
			<div class="item-h">담당자직급</div>
			<div class="item-h">담당자연락처</div>
			<!-- <div class="item-h">제휴서비스상태</div> -->
			<div class="item-h">비고</div>
		</div>
		<div class="sub-item">
			<input class="item text" name="c_name" value="{{companyInfo.c_name}}" (change)="valueChangeEvent('c_name', $event)" ngModel>
			<input class="item text" type="text" name="b_num" value="{{companyInfo.b_num}}" (change)="valueChangeEvent('b_num', $event)"
			 ngModel>
			<div class="item">
				<!-- <select class="form-control" (change)="firstDropDownChanged($event.target.value)" class="form-control"> -->
				<select class="form-control" name="type" value="{{companyInfo.type}}" (change)="valueChangeEvent('type', $event)" ngMode>
					<option *ngFor='let type of searchType'>{{ type }}</option>
				</select>
			</div>
			<div class="item">
				<select class="form-control" name="channel" value="{{companyInfo.channel}}" (change)="valueChangeEvent('channel', $event)"
				 ngMode>
					<option *ngFor='let channel of searchChannel'>{{ channel }}</option>
				</select>
			</div>

			<div class="item day">
				<div class="item-d">
					<div class="input-group">
						<input class="form-control" placeholder="" name="partner_start" value="{{companyInfo.partner_start}}" ngbDatepicker #d1="ngbDatepicker"
						 ngModel>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">
								<img src="../../assets/monthly-calendar.svg" />
							</button>
						</div>
					</div>
				</div>
				<div class="item-d">~</div>
				<div class="item-d">
					<div class="input-group">
						<input class="form-control" placeholder="" name="partner_end" value="{{companyInfo.partner_end}}" ngbDatepicker #d2="ngbDatepicker"
						 ngModel>
						<div class="input-group-append">
							<button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
								<img src="../../assets/monthly-calendar.svg" />
							</button>
						</div>
					</div>
				</div>
			</div>

			<input class="item text" type="text" name="ceo_name" value="{{companyInfo.ceo_name}}" (change)="valueChangeEvent('ceo_name', $event)"
			 ngModel>
			<input class="item text" type="text" name="company_callnum" value="{{companyInfo.company_callnum}}" (change)="valueChangeEvent('company_callnum', $event)"
			 ngModel>
			<input class="item text" type="text" name="address" value="{{companyInfo.address}}" (change)="valueChangeEvent('address', $event)"
			 ngModel>
			<input class="item text" type="text" name="manager_name" value="{{companyInfo.manager_name}}" (change)="valueChangeEvent('manager_name', $event)"
			 ngModel>
			<input class="item text" type="text" name="manager_position" value="{{companyInfo.manager_position}}" (change)="valueChangeEvent('manager_position', $event)"
			 ngModel>
			<input class="item text" type="text" name="manager_callnum" value="{{companyInfo.manager_callnum}}" (change)="valueChangeEvent('manager_callnum', $event)"
			 ngModel>
			<!-- <input class="item text" type="text" name="partner_status" value="{{companyInfo.partner_status}}" ngModel> -->
			<!-- <input class="item text" type="text" name="desc" value="{{companyInfo._desc}}" (change)="valueChangeEvent('_desc', $event)" ngModel> -->
			<textarea class="item text textarea form-control" name="_desc" value="" aria-label="With textarea" placeholder="가맹사 분배 %를 입력하세요." (change)="valueChangeEvent('_desc', $event)" ngModel></textarea>
		</div>
	</div>

	<!-- 버튼 -->
	<div class="button-area">
		<button type="submit" class="btn btn-info">수정</button>
		<button type="button" class="btn btn-light" routerLink="/" routerLinkActive="active">취소</button>
	</div>

</form>